@model IEnumerable<FREYA_WEB.Models.Wrapper>

<h2>Список обгорток</h2>

<a asp-action="Create" class="btn btn-success">Додати обгортку</a>

<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Колір</th>
            <th>Ціна</th>
            <th>Кількість</th>
            <th>Фото</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wrapper in Model)
        {
            <tr>
                <td>@wrapper.Name</td>
                <td>@wrapper.Color</td>
                <td>@wrapper.Price</td>
                <td>@wrapper.Count</td>
                <td><img src="@wrapper.PhotoUrl" width="50" /></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@wrapper.WrapperId" class="btn btn-success">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@wrapper.WrapperId" class="btn btn-success">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
