@model IEnumerable<FREYA_WEB.Models.Postcard>

<h2>Список листівок</h2>
<a asp-action="Create" class="btn btn-success">Додати листівку</a>

<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Колір</th>
            <th>Ціна</th>
            <th>Кількість</th>
            <th>Фото</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Color</td>
                <td>@item.Price</td>
                <td>@item.Count</td>
                <td><img src="@item.PhotoUrl" width="50" /></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostcardId" class="btn btn-success">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@item.PostcardId" class="btn btn-success">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
